name: build

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: test and send to codeCov
    steps:
      # The branch or tag ref that triggered the workflow will be checked out.
      # https://github.com/actions/checkout
      - uses: actions/checkout@v2
        # Setup a flutter environment.
        # https://github.com/marketplace/actions/flutter-action
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.22.4'
      - run: flutter pub get
      - run: flutter format --dry-run --set-exit-if-changed .
      - run: dartanalyzer .
        # run  flutter widgets tests  and unit tests
      - run: flutter test --coverage
        # Upload coverage reports to Codecov
        # https://github.com/marketplace/actions/codecov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage/lcov.info

  build_deploy:
    #if conditional to prevent a job from running
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    name: deploy release
    steps:
      - uses: actions/checkout@v2

      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.22.4'
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Install NDK
        run: echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;20.0.5594570" --sdk_root=${ANDROID_SDK_ROOT}
      - run: pushd example && flutter build apk --release --split-per-abi
      - run: pushd example && flutter build appbundle
      # This action will create a github release and optionally upload an artifact to it.
      # https://github.com/ncipollo/release-action
      - name: Create a Release APK
        uses: ncipollo/release-action@v1
        with:
          artifacts: example/build/app/outputs/**/*.apk,example/build/app/outputs/bundle/release/*.aab
          commit: ${{ github.sha }}
          token: ${{ secrets.GH_TOKEN }}
